# EditorConfig is awesome:http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
# non-configurable Prettier behaviors 
charset = utf-8
insert_final_newline = true
# Caveat: Prettier won’t trim trailing whitespace inside template strings, but
# your editor might.
trim_trailing_whitespace = true

# remaining options will also be read by Prettier if options.editorconfig is true
end_of_line = lf
indent_style = space
indent_size = 2
max_line_length = 80
